.card {
    background: $white;
    border: 1px solid $light-grey-2;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px;
    min-width: 217px;

    #limit {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
    }
}

#client-card {
    width: 217px;
    display: flex;
    justify-content: space-between;
}