#user-col {
    .drop-down {
        position: relative;
        border-left: $border;
    }

    .drop-down .options {
        white-space: nowrap;
        visibility: hidden;
        position: absolute;
        left: -1px;
    }
    
    .drop-down.open .options {
        visibility: visible;
        background: $white;
        border: $border;
        width: 100%;
        padding: 20px;
        text-align: center;
        box-shadow: $drop-shadow;
    }
}
#user-button {
    height: 100%;
    padding: 0 30px;
    font-size: 16px;
    outline: none;
    background: none;
    border: none;
}

.fa-user {
    padding-right: 15px;
}

.fa-angle-down {
    padding-left: 30px;
}

.drop-down .options {
    white-space: nowrap;
    visibility: hidden;
    position: absolute;
}

.drop-down.open .options {
    visibility: visible;
    background: $white;
    border: $border;
    width: 100px;
    padding: 20px;
    text-align: center;
    box-shadow: $drop-shadow;

    input { 
        background: none;
        border: none;
        font-size: $font-size-xs;
    }
}