.login-form {
    width: 30%;
    height: 350px;
    background: #fbfbfb;
    border: 1px solid #ccc;
    margin: 60px auto;
    padding: 20px 40px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.form-group>div {
    width: 100%;
}

.form-group>div:first-child {
    padding-right: 20px;
}

input, label {
    display: block;
}

input {
    height: 30px;
    font-size: 16px;
    width: 100%;
}

label {
    margin: 20px 0 5px 0;
    font-size: 12px;
}

.button-container {
    margin: 40px 0;
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}

.login-register {
    display: flex;
    width: 30%;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}